{
  "openapi": "3.0.0",
  "info": {
    "title": "光子易开放平台接口文档",
    "description": "# 简介\n &emsp;&emsp;光子易OPEN API使用Rest风格灵活开放光子易支付，账户，换汇，付款等产品能力。<br/>&emsp;&emsp;我们建议您详细阅读API文档，以熟悉与产品相关的功能和工作流程。通过注册我们的[商户平台](https://starry.photonpay.com/)，KYC通过后在菜单 设置>[开发者](https://starry.photonpay.com/settings/developers)得到更具体的配置信息。对于通过集成提供的任何业务流程疑点，可以联系光子易客户集成经理和技术支持，我们将为您进行一对一指导。<br/><br/>",
    "contact": {
      "name": "Tech Support",
      "email": "tech-support@photonpay.com"
    },
    "version": "1.1.2",
    "x-logo": {
      "url": "logo.png",
      "altText": "光子易,领先的跨境支付服务商"
    }
  },
  "servers": [
    {
      "url": "https://x-api.photonpay.com",
      "description": "光子易生产服务器"
    },
    {
      "url": "https://x-api1.uat.photontech.cc",
      "description": "光子易测试服务器"
    }
  ],
  "tags": [
    {
      "name": "授权",
      "description": "&emsp;&emsp;光子易使用开发者账号(app​​Id/appSecret)对请求进行身份验证，开发者账号信息通过商户平台进行管理。不要在可公开访问的区域（例如GitHub，客户端代码等）共享。"
    },
    {
      "name": "加签",
      "description": "&emsp;&emsp;加签是开放平台和商户的交互对于消息完整体的校验，加签行为一般发生在后端发送报文(post/put/delete)带请求体的http报文，<br/>还有光子易用来通知商户交易变更的webhook消息里， 开放平台采用RSA私钥做解签， RSA公钥做加签。 所以在交互中， 存在商户RSA公私钥、平台RSA公私钥。 在对接的开始， 开发者需要在 设置>[开发者](https://starry.photonpay.com/settings/developers) 设置完毕。<br/><br/>加签规则如下:<br/>&emsp;&emsp;1. 商户发送请求到开发平台，使用商户RSA私钥加签，开放平台使用商户RSA公钥验签；<br/>&emsp;&emsp;2. 开放平台发送通知给商户，使用平台RSA私钥加签， 商户使用平台RSA公钥验签；<br/>&emsp;&emsp;3. 加签是对http request body 做加密,当查询等request body为空的时候不需要加密;<br/>&emsp;&emsp;4. 不管是商户还是平台的公私钥，生成方式都是使用PKCS#8 pading方式生成；<br/>&emsp;&emsp;5. 使用md5 rsa加签出来然后base64作为加签串；<br/>&emsp;&emsp;6. 将加密出来的串放在头部 X-PD-SIGN。"
    },
    {
      "name": "端到端支付",
      "description": "### 端到端\n &emsp;&emsp;为拥有pci资质的商户提供server to server的对接方式，提供无/少跳转的方式提供支付服务，支持的交易类型为sale，auth \n ### 安全\n &emsp;&emsp;光子易风控系统拥有海量数据，并且与国际拒付黑白名单保持实时同步，在支付的过程中加载光子易风控插件，能实时监控并保护您的交易安全。<br/>对接如下：<br/>&emsp;&emsp;1. 在您的支付页面添加以下安全脚本控件<br/>\n ```js\n //测试环境<script src=\"https://cdn1.uat.photontech.cc/ageis.js\"></script>\n <script src=\"https://cdn.photonpay.com/ageis.js\"></script>\n ```\n <br/>&emsp;&emsp;2. 在点击提交的时候使用photonPayApi.getFingerprintId() 得到设备指纹传递给交易参数[risk.fingerprintId]"
    },
    {
      "name": "收银台",
      "description": "### 收银台\n &emsp;&emsp;为商户提供便捷快速的对接方式，无pci资质要求\n ### 接入步骤\n  &emsp;&emsp;1. 使用接口[Create Session](#tag/收银台支付/paths/~1payment~1txncore~1cashier~1session/post), 传入相应的支付方式[payMethod]和支付跳转地址[redirectUrl] 获取支付会话CODE(authCode)<br/>\n  &emsp;&emsp;2. 在checkout页面引入js, 使用创建支付会话得到的[authCode]及[payMethod]打开收银台<br/>\n ```js\n //测试地址<script src=\"https://cdn1.uat.photontech.cc/PhotonPay.js\"></script>\n <script src=\"https://cdn.photonpay.com/PhotonPay.js\"></script>\n  //点击checkout调用函数\n cashierAPI.payout({authCode: params.authCode,payMethod: params.payMethod})\n ```\n <br/>\n  &emsp;&emsp;3. 用户完成支付后, 收银台将redirect到创建支付会员提供的[redirectUrl]里，同时增加请求参数status=[canceled/succeed/failed/pending]&reqId=，最好使用异步结果通知为订单最终结果"
    },
    {
      "name": "手机SDK",
      "description": "&emsp;&emsp;敬请期待"
    },
    {
      "name": "其他交易类型",
      "description": "&emsp;&emsp;详细描述了 退款，预授权完成，预授权撤销，审核订单，查询订单等交易操作"
    },
    {
      "name": "拒付",
      "description": "&emsp;&emsp;敬请期待"
    },
    {
      "name": "附录",
      "description": "## 支付方式\n | <center>支付方式</center> | <center>支持国家</center> | <center>支付类型</center> | <center>必填参数(端到端支付必填)</center> | <center>交易币种</center> |\n| :----: | :----: | :----: | :----: | :----: |\n| VISA | 全球 | Credit Card | cardNo/firstName/lastName/cvv/expireYear/expireMonth | 全币种 |\n| MasterCard | 全球 | Credit Card | cardNo/firstName/lastName/cvv/expireYear/expireMonth | 全币种 |\n| eps | 奥地利(AT) | eps | countryCode/payerName | EUR |\n| giropay | 德国(DE) | giropay | countryCode/payerName | EUR |\n| iDEAL | 荷兰(NL) | iDEAL | countryCode/payerName/bankName[iDeal支持的银行] | EUR |\n| MyBank | 意大利(IT) | MyBank | countryCode/payerName  | EUR |\n| POLi | 澳大利亚(AU)新西兰(NZ) | POLi | countryCode/payerName  | 	AUD,NZD |\n| SafetyPay | 奥地利(AT)比利时(BE)巴西(BR)智利(CL)哥斯达黎加(CR)德国(DE)厄瓜多尔(EC)西班牙(ES)墨西哥(MX)荷兰(NL) | SafetyPay | countryCode/payerName/email | EUR,USD |\n| Sofort | 奥地利(AT)比利时(BE)瑞士(CH)德国(DE)西班牙(ES)英国(GB)意大利(IT)荷兰(NL)波兰(PL) | Sofort | countryCode/payerName | EUR,GBP,CHF |\n| TrustPay |斯洛伐克(SK) | TrustPay | countryCode/payerName | EUR |\n| GrabPay | 新加坡(SG) | GrabPay | countryCode/payerName | SGD |\n| BNI | 印度尼西亚(ID) | BNI | payerName/phone | IDR | \n| Wechat | 中国香港(HK) | Wechat | - | CNY,HKD |\n | UPOP | 全球| UnionPay | - | EUR,TWD,SGD,CAD,AUD,USD,GBP,CNY,HKD |\n\n \n  ##### iDeal支持的银行 \n | <center>银行名称</center> | <center>bank code</center> |\n| :----: | :----: |\n| Rabobank | RABONL2U | \n| ABN AMRO | ABNANL2A | \n| Van Lanschot Baniers | FVLBNL22 | \n| Triodos Bank  | TRIONL2U | \n| ING Bank   | INGBNL2A | \n| SNS Bank  | SNSBNL2A | \n| ASN | ASNBNL21 | \n| RegioBank  | RBRBNL21 | \n| Knab  | KNABNL2H | \n| Bunq | BUNQNL2A | \n| Moneyou | MOYONL21 | \n| Handelsbanken | HANDNL2A | \n| Revolut | REVOLT21 | \n\n ## 支付响应码\n |<center>code</center>|<center> msg</center>| <center>status</center>| \n|:---:|:---:|:---:|\n|0000|交易成功|succeed|\n|1000|无效参数|failed|\n|1001|无效加签|failed|\n|1002|无效token|failed|\n|1003|payInfoJson格式错误|failed|\n|1004|通知错误|failed|\n|1005|请重试|failed|\n||||\n|2001|重复订单|failed|\n|2002|原始订单未成功|failed|\n|2003|原始订单不存在|failed|\n|2004|余额不足|failed|\n|2005|订单已发生预授权完成|failed|\n|2006|订单已发生拒付|failed|\n|2007|无效siteId|failed|\n|2008|交易被禁止|failed|\n|2009|不支持的支付方式|failed|\n|2010|不支持的币种|failed|\n|2011|已经不在退款的有效期|failed|\n|2012|已经不在预授权完成的有效期|failed|\n|2013|原始订单已经被审核|failed|\n|2014|交易请求ID无效|failed|\n|2015|未找到有效的二级商户号|failed|\n|2016|未找到系统映射码|suspend|\n|2017|未找到有效的通道|failed|\n|2018|不支持3D交易|failed|\n|2019|不支持多次交易|failed|\n|2020|商户的账单信息不全|failed|\n|2021|交易已过期|failed|\n|2022|不允许发起交易|failed|\n|2023|不允许发起退款|failed|\n|2024|未找到产品配置|failed|\n|2025|交易不存在|failed|\n|2026|交易已结算|failed|\n||||\n|3001|挂起订单等待审核|suspend|\n|3002|挂起待处理|pending|\n|3003|处理中|pending|\n|<img width='200'/>|<img width='200'/>|<img width='200'/>|\n|4000|风控拒绝|failed|\n|||||\n|5001|联系发卡行|failed|\n|5002|发卡行不予承兑|failed|\n|5003|终端不允许交易|failed|\n|5004|发卡行/收单行超时|failed|\n|5005|无原始交易|failed|\n|5006|无效银行卡/发卡行/收单行|failed|\n|5007|无效金额|failed|\n|5008|无效卡号|failed|\n|5009|预授权已过期|failed|\n|5010|系统错误，请重试|failed|\n|5011|不可信账户|failed|\n|5012|交易失败|failed|\n|5013|挂失卡|failed|\n|5014|交易拒绝，请联系发卡行|failed|\n|5015|金额不足|failed|\n|5016|过期卡|failed|\n|5017|密码错误，请重新输入|failed|\n|5018|不允许该卡交易|failed|\n|5019|超过金额限制|failed|\n|5020|受限制卡|failed|\n|5021|超过频次限制|failed|\n|5022|超过收单行限次/限额|failed|\n|5023|结果响应超时|failed|\n|5024|超过密码尝试次数|failed|\n|5025|无效账户|failed|\n|5026|发卡行不能提供该服务|failed|\n|5027|不能识别该密码|failed|\n|5028|无效验证码|failed|\n|5029|无效的交易周期|failed|\n|5030|不安全交易|failed|\n|5031|发卡行不可用|failed|\n|5032|无效发卡行|failed|\n|5033|交易不可完成|failed|\n|5034|系统异常|failed|\n|5035|重复退款|failed|\n|5036|重复交易|failed|\n|5037|CVV错误|failed|\n|5038|3ds验证失败|failed|\n|5039|不允许退款|failed|\n|5040|发卡行不能执行3ds验证|failed|\n|5041|该笔交易已经过期||\n"
    },

    {
      "name": "钱包信息查询",
      "description": "&emsp;&emsp;可查询客户钱包中不同账户类型的实时余额情况及每个币种钱包下的各个账户的资金变动流水。"
    },
    {
      "name": "收款人",
      "description": "&emsp;&emsp;创建可用于全球供应商付款的收款人。您需要在钱包中创建收款人并绑定他们的银行帐户。在photonPay审核通过后，您可以进行付款。"
    },
    {
      "name": "付款",
      "description": "&emsp;&emsp;使用实时付款，您可以立即将资金支付到持有的银行卡中。您可以24/7的发起实时付款，包括周末和节假日。"
    },
    {
      "name": "换汇",
      "description": "&emsp;&emsp;PhotonPay提供了基于全面API的全球FX平台，为希望在各种市场中持有货币的外汇经纪人提供出色灵活的汇率管理产品，降低外汇风险，可以在世界各地随时随地进行外汇交易。"
    },
    {
      "name": "钱包附录",
      "description": "# 账户交易类型\n |<center>编码</center>|<center>描述</center>|\n|:---:|:---:|\n|settle|结算|\n|payin|入账|\n|chargeback_amount_freeze|拒付金额冻结|\n|chargeback_amount_return|拒付金额返回|\n|chargeback_arbitration_fee_freeze|拒付仲裁费用冻结|\n|chargeback_arbitration_fee_return|拒付仲裁费用返还|\n|chargeback_fee|拒付手续费|\n|payout|付款|\n|payout_fee|付款手续费|\n|payout_refund|付款返还|\n|payout_fee_refund|付款手续费返还|\n|deposit_return|保证金返还|\n|refund|退款|\n|refund_fee|退款手续费|\n|clear|清算|\n|deposit|保证金|\n|mdr_fee|比例手续费|\n|fixed_fee|固定手续费|\n|3d_fee|3DS手续费|\n|refund_clearing|退款清算|\n|refund_deposit_return|退款保证金返回|\n|refund_mdr_return|退款比例费返回|\n|chargeback_amount_deduction|拒付金额扣除|\n|chargeback_arbitration_fee_deduction|拒付仲裁费用扣除|\n|internal_transition|平账|\n|automatic_settlement_revenue|系统自动平账-收入|\n|automatic_settlement_outlay|系统自动平账-支出|\n|custom_fee|定制化费用|\n|other_disburse|其他扣款|\n|other_income|其他入账|\n|recharge|充值|\n|recharge_fee|充值手续费|\n|app_exchange|换汇|\n|app_exchange_return|换汇返还|\n|exchange|汇兑|\n|exchange_return|汇兑返还|\n|payout_exchange_income|payout换汇收益|\n|payout_exchange_income_return|payout换汇收益回款|\n|settlement_amount|收款结算|\n|settlement_fee|收款结算手续费|\n|issuing_auth|卡授权交易|\n|issuing_refund|卡退款|\n|issuing_refund_fee|退款手续费|\n|issuing_void|撤销|\n|issuing_fee|交易手续费|\n|issuing_apply_card_fee|开卡手续费|\n|issuing_apply_card_fee_return|开卡手续费返还|\n|issuing_cancel_fee|销卡手续费|\n|issuing_cross_board_fee|跨境手续费|\n|issuing_cross_board_fee_return|跨境手续费返还|\n|issuing_fee_return|交易手续费返还|\n|issuing_conversion_fee|汇率转换费|\n|issuing_conversion_fee_return|汇率转换费返还|\n|migrate_curr_in|币种账户-余额转入|\n|vcc_recharge|卡充值|\n|vcc_recharge_return|卡充值退回|\n|fx_swap_penalty_margin|换汇-违约保证金扣除|\n|fx_swap_penalty_margin_return|换汇-违约保证金返还|\n|equity_card_buy|权益卡-购买|\n|equity_card_buy_return|权益卡-购买返还|\n|transfer|转账|\n|transfer_return|转账返还|\n|sub_account_transfer|子账户转账|\n|sub_account_transfer_return|子账户转账返还|\n|payout_transfer|付款-转账|\n|payout_transfer_return|付款-转账返还|\n|issuing_recharge_fee|卡充值手续费|\n|issuing_return|卡余额退还|\n|issuing_return_fee|卡余额退还手续费|\n|issuing_cancel_return|销卡余额退回|\n|issuing_cancel_return_fee|销卡余额退回手续费|\n|issuing_recharge_fee_return|卡充值手续费退回|\n"
    },

    {
      "name": "店铺管理"
    },
    {
      "name": "还原申报订单上传"
    },
    {
      "name": "收款查询"
    },
    {
      "name": "全球账户"
    },
    {
      "name": "全球账户附录",
      "description": "## 全球账户的用途\n|<center>编码<center>|<center>描述<center>|\n| :------------------: | :--------------: |\n| UT202203081816165768 |     电商收款     |\n| UT202205051026295881 |   电子钱包充值   |\n| UT202205051026295893 | 同名银行账户充值 |\n| UT202205051026295894 |     B2B收款      |\n| UT202205051026295895 |      未分类      |"
    },

    {
      "name": "卡管理",
      "description": "&emsp;&emsp;您可进行申请虚拟卡、销卡以及查询开卡销卡的收费明细。"
    },
    {
      "name": "充值卡管理",
      "description": "&emsp;&emsp;您可通过接口为你的虚拟充值卡进行资金充值，以保证您的卡内资金充足。\n</br>&emsp;&emsp;请按以下步骤完成充值：\n</br>&emsp;&emsp;第一步：您需要调用“换汇询价”接口获取您的汇率，并且记录下这笔的请求ID。\n</br>&emsp;&emsp;第二步：将汇率询价的“请求ID”在有效时间内填入“换汇下单”接口，完成充值即可。"
    },
    {
      "name": "持卡人",
      "description": "&emsp;&emsp;您可在此接口创建您用于开卡的持卡人，创建之后您可用于开卡时指定每一张卡对应的持卡人。"
    },
    {
      "name": "matrix账户",
      "description": "&emsp;&emsp;通过会员ID可创建Matrix account，可申请虚拟卡以及在会员钱包账户与Matrixaccount资金账户之间进行资金划扣。"
    },
    {
      "name": "发卡",
      "description": "<span style=\"line-height:30px;\"><font size=5>开始使用Matrix发卡系统</font></br></span>"
        + "</br>以下是创建和管理您自己的虚拟卡所需的步骤指南\n"
        + "* <font size=5>第一步 - 创建一个Matrix账户</font></br>"
        + "</br>如果您准备使用了Matrix和虚拟性用卡，您需要先创建一个Matrix账户。\n\n"
        + "* <font size=5>第二步 - 创建持卡人</font></br>"
        + "</br><span style=\"line-height:30px;\">您需要创建您的持卡人，当您打开卡片时，您可以将卡片分配给一个指定的持卡人，交易需要的短信验证码将发送到此持卡人的手机或电子邮件。</span></br>\n"
        + "* <font size=5>第三步 - 创建你的第一张卡</font></br>"
        + "</br>帐户全部整理完毕后，你现在可以使用应用卡终端创建你的第一张卡了。</br>\n"
        + "* <font size=5>第四步 - 卡充值</font></br>"
        + "</br>如果您开通的是充值卡，则您需要充值后保证卡内有资金方可使用。您需要通过“换汇询价”和“充值下单”接口完成对卡的充值。</br>\n"


        + "## 持卡人\n"
        + "<span style=\"line-height:30px;\">&emsp;&emsp;开卡时，您可以选择卡对应的持卡人进行开卡，此卡将属于您选定的持卡人，之后如用此卡进行消费，所需的验证码将发送至持卡人的手机或邮箱中。创建持卡人后，将获得持卡人ID，此持卡人ID将是唯一识别号。[**<u>(点击链接： 添加持卡人)</u>**](#tag/持卡人/paths/~1vcc~1open~1v2~1addCardholder/post)。"
        + "</br>&emsp;&emsp;您可以通过 API 查询持卡人ID。 [**<u>(点击链接： 查询持卡人)</u>**](#tag/持卡人/paths/~1vcc~1open~1v2~1pagingVccCardholder/get)。</span>\n"

        + "## 开卡\n"
        + "<span style=\"line-height:30px;\">&emsp;&emsp;开始创建虚拟卡，当你创建完你的Matrix账户后，你现在就可以进行开卡了。你可以在申请卡的API中选择ID类型为：Matrix ID，并填写你刚刚申请的Matrix账户ID，从而创建一张新卡。[**<u>(点击链接： 开卡)</u>**](#tag/卡管理/paths/~1vcc~1open~1v2~1openCard/post) 。 然后你可以在开卡的响应中看到你所有的卡信息：卡号，到期日，CVV等。"
        + "该卡将属于您的这个Matrix账户。当然，你也可以用你的会员ID来开卡，只要选择 'ID类型' 为会员ID并填写其ID号码即可。"
        + "</br>&emsp;&emsp;你可以在开卡时直接设置一些限额，如：但不交易限额、日交易限额、月交易限额、可交易限额（可交易限额：指此卡可用于交易的最高金额，当其为0时，进行交易将失败)。<br/>你也可以使用 API 随时更新你的卡片限额。[**<u>(点击链接： 卡更新)</u>**](#tag/卡管理/paths/~1vcc~1open~1v2~1updateCard/post)。</br>"
        + "</br>注意：您可以使用 [**<u>(点击链接： 卡bin查询)</u>**](#tag/卡管理/paths/~1vcc~1open~1v2~1getCardBin/get) 来检查可用于开卡的卡bin。</span>\n"

        + "## 请求结果查询\n"
        + "<span style=\"line-height:30px;\">&emsp;&emsp;你可以使用这个接口来查询你的卡片信息和卡片相关的配置信息。[**<u>(点击链接： 请求结果查询)</u>**](#tag/卡管理/paths/~1vcc~1open~1v2~1getOpenCardResult/get)。</span>\n"

        + "## 卡信息查询\n"
        + "<span style=\"line-height:30px;\">&emsp;&emsp;您可以实时调取此接口查询您的卡信息，包括卡号、有效期、CVV、卡限额等，您可以通过查询及时调整您对于卡的限额配置，以避免失败交易的产生。[**<u>(点击链接： 卡信息查询)</u>**](#tag/卡管理/paths/~1vcc~1open~1v2~1getCardDetail/get)。</span>\n"

        + "## 换汇询价\n"
        + "<span style=\"line-height:30px;\">&emsp;&emsp;如您使用的是充值卡，这是进行卡内余额充值的第一步："
        + "<br/>&emsp;&emsp;您需要先在此API中将您的充值信息填入[**<u>(点击链接： 换汇询价)</u>**](#tag/充值卡管理/paths/~1vcc~1open~1v2~1preRecharge/get)，并确认汇率后保存这笔的请求ID，将此ID填入“充值下单”接口去完成充值。"
        + "<br/>注：汇率有时效性，超时将失效，还请尽快使用完成充值。</span>\n"


        + "## 充值下单\n"
        + "<span style=\"line-height:30px;\">&emsp;&emsp;这是您进行卡内余额充值的第二步："
        + "<br/>&emsp;&emsp;将汇率询价接口的“请求ID”在有效时效内填入此API中[**<u>(点击链接： 充值)</u>**](#tag/充值卡管理/paths/~1vcc~1open~1v2~1recharge/post)，我们将按此费率对您指定的卡完成充值操作</span>\n"

        + "## 卡余额退还\n"
        + "<span style=\"line-height:30px;\">&emsp;&emsp;您可将充值卡卡内剩余的金额退还至您卡本币对应的钱包可用余额中。[**<u>(点击链接： 卡余额退回)</u>**](#tag/充值卡管理/paths/~1vcc~1open~1v2~1rechargeReturn/post)</span>\n"


        + "## 销卡\n"
        + "<span style=\"line-height:30px;\">&emsp;&emsp;您可以通过此接口将您无需使用的卡进行注销的操作。"
        + "此操作不可逆转，一经注销，此卡将永久不可使用，且不能恢复，请谨慎操作。如是充值卡，销卡后卡内资金将自动帮你退还至卡本币对应的币种钱包中。"
        + "[**<u> （点击链接： 销卡 ）</u>**](#tag/卡管理/paths/~1vcc~1open~1v2~1cancelCard/post)。</span>\n"

        + "## 卡历史明细\n"
        + "<span style=\"line-height:30px;\">&emsp;&emsp;您可用此接口实时查询您的开卡以及销卡记录，其中包含开卡或销卡的状态以及每笔的手续费等信息。[**<u>(点击链接： 卡历史明细)</u>**](#tag/交易明细/paths/~1vcc~1open~1v2~1pagingIssuingHistory/get)。</span>\n"

        + "## 交易明细\n"
        + "<span style=\"line-height:30px;\">&emsp;&emsp;您可以使用交易查询接口实时查询您所有的交易明细和交易状态，包括：交易时间、交易币种、交易金额、交易状态等交易信息。"
        + "您也可以使用交易ID号向我们查询单笔，了解此笔交易结果和交易细节。[**<u>(点击链接： 交易明细)</u>**](#tag/交易明细/paths/~1vcc~1open~1v2~1pagingVccTradeOrderNew/get)。</span>\n"


        + "## 充值卡资金明细\n"
        + "<span style=\"line-height:30px;\">&emsp;&emsp;您可在此接口中查询充值卡每笔交易的资金变动明细。[**<u>(点击链接： 充值卡资金明细)</u>**](#tag/交易明细/paths/~1vcc~1open~1v2~1pagingRechargeCardFundsDetail/get)</span>\n"

    },
    {
      "name": "交易明细",
      "description": "&emsp;&emsp;所有虚拟卡发起的相关的订单信息及状态明细查询。"
    },

    {
      "name": "通知",
      "description": "开发者webhook配置或者在交易中传递了notifyUrl，光子易平台会发送通知给指定的URL"
    },
    {
      "name": "订阅",
      "description": "&emsp;&emsp;敬请期待"
    },
    {
      "name": "总附录",
      "description": "## 响应码\n" +
        "|<center>code</center>|<center> msg</center>| <center>status</center>| \n" +
        "|:---:|:---:|:---:|\n" +
        "|0000|交易成功|succeed|\n" +
        "|1000|无效参数|failed|\n" +
        "|1001|无效加签|failed|\n" +
        "|1002|无效token|failed|\n" +
        "|1003|payInfoJson格式错误|failed|\n" +
        "|1004|通知错误|failed|\n" +
        "|1005|请重试|failed|\n" +
        "||||\n" +
        "|2001|重复订单|failed|\n" +
        "|2002|原始订单未成功|failed|\n" +
        "|2003|原始订单不存在|failed|\n" +
        "|2004|余额不足|failed|\n" +
        "|2005|订单已发生预授权完成|failed|\n" +
        "|2006|订单已发生拒付|failed|\n" +
        "|2007|无效siteId|failed|\n" +
        "|2008|交易被禁止|failed|\n" +
        "|2009|不支持的支付方式|failed|\n" +
        "|2010|不支持的币种|failed|\n" +
        "|2011|已经不在退款的有效期|failed|\n" +
        "|2012|已经不在预授权完成的有效期|failed|\n" +
        "|2013|原始订单已经被审核|failed|\n" +
        "|2014|交易请求ID无效|failed|\n" +
        "|2015|未找到有效的二级商户号|failed|\n" +
        "|2016|未找到系统映射码|suspend|\n" +
        "|2017|未找到有效的通道|failed|\n" +
        "|2018|不支持3D交易|failed|\n" +
        "|2019|不支持多次交易|failed|\n" +
        "|2020|商户的账单信息不全|failed|\n" +
        "|2021|交易已过期|failed|\n" +
        "|2022|不允许发起交易|failed|\n" +
        "|2023|不允许发起退款|failed|\n" +
        "|2024|未找到产品配置|failed|\n" +
        "|2025|交易不存在|failed|\n" +
        "|2026|交易已结算|failed|\n" +
        "||||\n" +
        "|3001|挂起订单等待审核|suspend|\n" +
        "|3002|挂起待处理|pending|\n" +
        "|3003|处理中|pending|\n" +
        "|<img width='200'/>|<img width='200'/>|<img width='200'/>|\n" +
        "|4000|风控拒绝|failed|\n" +
        "|||||\n" +
        "|5001|联系发卡行|failed|\n" +
        "|5002|发卡行不予承兑|failed|\n" +
        "|5003|终端不允许交易|failed|\n" +
        "|5004|发卡行/收单行超时|failed|\n" +
        "|5005|无原始交易|failed|\n" +
        "|5006|无效银行卡/发卡行/收单行|failed|\n" +
        "|5007|无效金额|failed|\n" +
        "|5008|无效卡号|failed|\n" +
        "|5009|预授权已过期|failed|\n" +
        "|5010|系统错误，请重试|failed|\n" +
        "|5011|不可信账户|failed|\n" +
        "|5012|交易失败|failed|\n" +
        "|5013|挂失卡|failed|\n" +
        "|5014|交易拒绝，请联系发卡行|failed|\n" +
        "|5015|金额不足|failed|\n" +
        "|5016|过期卡|failed|\n" +
        "|5017|密码错误，请重新输入|failed|\n" +
        "|5018|不允许该卡交易|failed|\n" +
        "|5019|超过金额限制|failed|\n" +
        "|5020|受限制卡|failed|\n" +
        "|5021|超过频次限制|failed|\n" +
        "|5022|超过收单行限次/限额|failed|\n" +
        "|5023|结果响应超时|failed|\n" +
        "|5024|超过密码尝试次数|failed|\n" +
        "|5025|无效账户|failed|\n" +
        "|5026|发卡行不能提供该服务|failed|\n" +
        "|5027|不能识别该密码|failed|\n" +
        "|5028|无效验证码|failed|\n" +
        "|5029|无效的交易周期|failed|\n" +
        "|5030|不安全交易|failed|\n" +
        "|5031|发卡行不可用|failed|\n" +
        "|5032|无效发卡行|failed|\n" +
        "|5033|交易不可完成|failed|\n" +
        "|5034|系统异常|failed|\n" +
        "|5035|重复退款|failed|\n" +
        "|5036|重复交易|failed|\n" +
        "|5037|CVV错误|failed|\n" +
        "|5038|3ds验证失败|failed|\n" +
        "|5039|不允许退款|failed|\n" +
        "|5040|发卡行不能执行3ds验证|failed|\n" +
        "|5041|该笔交易已经过期||\n" +

        "|<img width='200'/>|<img width='200'/>|<img width='200'/>|\n" +
        "|12001|账户不存在|failed|\n" +

        "|<img width='200'/>|<img width='200'/>|<img width='200'/>|\n" +
        "|13021|请输入请求流水号|failed|\n" +
        "|13022|请输入起始时间|failed|\n" +
        "|13023|请输入截止时间|failed|\n" +
        "|13030|店铺编号有误|failed|\n" +
        "|13031|该店铺已授权|failed|\n" +
        "|13032|authCode不能为空|failed|\n" +
        "|13033|该店铺不属于速卖通平台|failed|\n" +
        "|13034|订单明细不能为空|failed|\n" +

        "|<img width='200'/>|<img width='200'/>|<img width='200'/>|\n" +
        "|14001|您填写的法人姓名和激活账户时的法人姓名不符,请核实。|failed|\n" +
        "|14002|未找到对应交易类型配置，请联系客户经理进行处理。|failed|\n" +
        "|14003|该交易类型不存在，请联系客户经理进行处理。|failed|\n" +
        "|14004|银行卡不属于该当前登录会员。|failed|\n" +
        "|14005|该银行卡不存在|failed|\n" +
        "|14006|请至少选择一个币种|failed|\n" +
        "|14007|收款人已经有相同的银行卡|failed|\n" +
        "|14008|银行卡号不能存在中文|failed|\n" +
        "|14009|银行卡号不能低于12位|failed|\n" +
        "|14010|银行卡号长度错误|failed|\n" +
        "|14011|个人银行卡银行所在地目前只支持选择中国大陆|failed|\n" +
        "|14012|请选择银行所在地|failed|\n" +
        "|14013|请输入银行名称|failed|\n" +
        "|14014|币种不能为空|failed|\n" +
        "|14015|请输入银行卡号|failed|\n" +
        "|14016|请选择个人或企业|failed|\n" +
        "|14017|请输入持卡人|failed|\n" +
        "|14018|请输入姓名|failed|\n" +
        "|14019|持卡人姓名长度超过限制|failed|\n" +
        "|14020|银行预留号码区号不能为空|failed|\n" +
        "|14021|银行预留手机号不能为空|failed|\n" +
        "|14022|Swift码的长度不能超过11位|failed|\n" +
        "|14023|中国大陆的银行卡必须都是数字|failed|\n" +
        "|14024|中国大陆的银行卡只支持人民币|failed|\n" +
        "|14025|请输入联行号|failed|\n" +
        "|14026|请输入持卡人所在国家|failed|\n" +
        "|14027|请输入持卡人所在城市|failed|\n" +
        "|14028|请输入持卡人所在的州/省|failed|\n" +
        "|14029|请输入持卡人邮编|failed|\n" +
        "|14030|银行卡四要素认证失败,原因:%s|failed|\n" +
        "|14031|请输入收款人名称|failed|\n" +
        "|14032|会员实体名称为空（企业会员则是法人名称为空）,请联系客户经理进行处理|failed|\n" +
        "|14033|企业会员不能添加个人类型的香港银行卡|failed|\n" +
        "|14040|请选择收款人类型|failed|\n" +
        "|14041|请选择付款类型|failed|\n" +
        "|14042|请选择付款币种|failed|\n" +
        "|14043|请输入付款金额|failed|\n" +
        "|14044|请输入合同开始日期|failed|\n" +
        "|14045|请输入合同截止日期|failed|\n" +
        "|14046|只允许企业账户|failed|\n" +
        "|14047|银行证明不能为空，请上传证明文件|failed|\n" +
        "|14048|请输入国际银行帐户号码|failed|\n" +
        "|14049|请选择BankCode|failed|\n" +
        "|14050|请输入IFSCode|failed|\n" +
        "|14051|请输入银行地址|failed|\n" +
        "|14052|请输入持卡人地址|failed|\n" +
        "|14053|该收款人不存在|failed|\n" +
        "|14054|该收款人已存在并被拒绝，请先删除|failed|\n" +
        "|14055|已存在该类型的同名收款人|failed|\n" +
        "|14056|只允许供应商类型的收款人重新上报合同信息|failed|\n" +
        "|14057|不合法的收款人类型|failed|\n" +
        "|14058|请选择SwiftCode|failed|\n" +
        "|14059|请输入企业注册编号|failed|\n" +
        "|14060|请输入公司英文名称|failed|\n" +
        "|14061|请选择公司注册时间|failed|\n" +
        "|14062|银行地址不能超过100位|failed|\n" +
        "|14063|银行卡信息已通过风控审核|failed|\n" +
        "|14064|收款人信息已通过风控审核|failed|\n" +
        "|14065|1688跨境宝收款人银行卡的银行所在地目前不支持选择中国大陆|failed|\n" +
        "|14066|个人主体不支持添加企业类型的提现收款人|failed|\n" +
        "|14067|持卡人身份证号不能为空|failed|\n" +
        "|14068|持卡人身份证号格式有误|failed|\n" +

        "|<img width='200'/>|<img width='200'/>|<img width='200'/>|\n" +
        "|15501|系统服务忙，请稍后再试|failed|\n" +
        "|15502|系统服务异常，请稍后再试|failed|\n" +
        "|15503|系统服务未知错误，请稍后再试|failed|\n" +
        "|15531|请输入请求流水号|failed|\n" +
        "|15532|请输入卖出币种|failed|\n" +
        "|15533|请输入买入币种|failed|\n" +
        "|15534|请输入充值币种|failed|\n" +
        "|15535|请输入货币对|failed|\n" +
        "|15536|货币对输入错误|failed|\n" +
        "|15537|币种输入错误|failed|\n" +
        "|15538|请输入起始时间|failed|\n" +
        "|15539|请输入截止时间|failed|\n" +
        "|15540|请输入交易方向|failed|\n" +
        "|15541|交易方向输入错误|failed|\n" +
        "|15542|请输入交易金额|failed|\n" +
        "|15543|交易金额输入错误|failed|\n" +
        "|15544|请输入交割日期|failed|\n" +
        "|15545|交割日期输入格式错误|failed|\n" +
        "|15546|交割日期不能早于当前日期|failed|\n" +
        "|15547|交割日期无效|failed|\n" +
        "|15548|请输入询价目的|failed|\n" +
        "|15549|询价目的输入错误|failed|\n" +
        "|15550|询价目的为payout时，银行卡ID不可为空|failed|\n" +
        "|15551|请输入换汇询价ID|failed|\n" +
        "|15552|请输入卖出账户号|failed|\n" +
        "|15553|请输入买入账户号|failed|\n" +
        "|15554|换汇询价ID不存在或已过期|failed|\n" +
        "|15555|卖出账户号不存在或账户币种不匹配|failed|\n" +
        "|15556|买入账户号不存在或账户币种不匹配|failed|\n" +
        "|15557|卖出币种账户余额不足|failed|\n" +
        "|15558|违约金扣款币种账户余额不足|failed|\n" +
        "|15559|换汇下单失败|failed|\n" +
        "|15560|充值账号不存在|failed|\n" +
        "|15561|充值账号状态异常|failed|\n" +
        "|15562|卖出币种与买入币种不可相同|failed|\n" +
        "|15563|卖出账户号与买入账户号不可相同|failed|\n" +
        "|15564|当前货币对不在可交易时间内|failed|\n" +
        "|15565|交易金额精度错误|failed|\n" +
        "|15566|交割日期不能查询30天之后的日期|failed|\n" +
        "|15567|下单模式错误|failed|\n" +
        "|15568|当前您的保证金下单额度已超过上限，可选择其他方式下单，如有疑问请联系在线客服。|failed|\n" +
        "|15569|未找到保证金下单额度配置，请联系在线客服。|failed|\n" +
        "|15575|requestNo已存在，请勿重复请求。|failed|\n" +
        "|15576|收款人不存在。|failed|\n" +
        "|15577|ACH和FedWire付款不支持ABANumber为空。|failed|\n" +
        "|15578|FPS付款不支持fpsBankId为空。|failed|\n" +
        "|15579|SEPA付款不支持sortCode为空。|failed|\n" +
        "|15580|收款人银行所在地为印度时ifsCode不能为空。|failed|\n" +
        "|15581|VAT收款人税号不能为空。|failed|\n" +
        "|15582|银行卡状态有误,请稍后重试。|failed|\n" +
        "|15582|付款币种未开通。|failed|\n" +

        "|<img width='200'/>|<img width='200'/>|<img width='200'/>|\n" +
        "|16601|到账金额、付款金额 请二选一|failed|\n" +
        "|16602|到账金额、付款金额 不能小于等于0|failed|\n" +
        "|16603|汇率过期，请获取汇率后重新下单|failed|\n" +
        "|16604|付款地区不支持所选的币种|failed|\n" +
        "|16605|不支持的交易类型|failed|\n" +
        "|16606|该交易方式，配置未开启|failed|\n" +
        "|16607|风控拦截，不可出款|failed|\n" +
        "|16608|账户权限问题，可能被冻结或者关闭|failed|\n" +
        "|16609|付款金额小于最低限额|failed|\n" +
        "|16610|出金账户余额不足|failed|\n" +
        "|16611|系统异常，发起交易失败，请联系客服经理处理|failed|\n" +
        "|16612|结汇额度不足，无法发起资金入境|failed|\n" +
        "|16615|暂无可用通道。|failed|\n" +
        "|16616|到账金额超过限额，请参考“付款限额”，调整到账金额或付款金额。|failed|\n" +
        "|16998|参数校验异常|failed|\n" +
        "|16999|系统异常|failed|\n" +

        "|<img width='200'/>|<img width='200'/>|<img width='200'/>|\n" +
        "|17001|订单已过期，请重新下单|failed|\n" +
        "|17002|错误的付款账号|failed|\n" +
        "|17003|参数不合法|failed|\n" +

        "|<img width='200'/>|<img width='200'/>|<img width='200'/>|\n" +
        "|18001|当前余额不足，无法继续透支，请尽快补充钱包资金。|failed|\n"
    }
  ],
  "paths": {
    "/oauth2/token/accessToken": {
      "post": {
        "tags": [
          "授权"
        ],
        "summary": "Generate Token",
        "description": "使用开发者账号获取access token",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "basic Base64({appId}/{appSecret})",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/appLoginResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/oauth2/token/issueAuthCode": {
      "post": {
        "tags": [
          "授权"
        ],
        "summary": "Issue AuthCode",
        "description": "使用开发者账号获取AuthCode，可以换发Token，部分OpenApi接口会需要authCode作为入参",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "basic Base64({appId}/{appSecret})",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/authCodeResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/payment/txncore/s2s/auth": {
      "post": {
        "tags": [
          "端到端支付"
        ],
        "summary": "授权交易",
        "description": "预授权交易(信用卡)",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/creditCardSaS2sCheckout"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firstResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/payment/txncore/s2s/capture": {
      "post": {
        "tags": [
          "其他交易类型"
        ],
        "summary": "授权交易完成",
        "description": "预授权完成交易",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/secondReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/saSecondResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/payment/txncore/s2s/void": {
      "post": {
        "tags": [
          "其他交易类型"
        ],
        "summary": "交易撤销",
        "description": "信用卡预授权撤销交易",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/voidReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/saVoidResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/payment/txncore/s2s/sale": {
      "post": {
        "tags": [
          "端到端支付"
        ],
        "summary": "消费",
        "description": "消费交易",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/saSubmitCheckout"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firstResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/payment/txncore/s2s/refund": {
      "post": {
        "tags": [
          "其他交易类型"
        ],
        "summary": "退款",
        "description": "退款接口",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/secondReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/saSecondResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/payment/txncore/s2s/review": {
      "post": {
        "tags": [
          "其他交易类型"
        ],
        "summary": "消费再确认",
        "description": "审核交易被挂起的订单，sale交易返回订单为suspend的订单，需要做此操作",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/reviewReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/saleConfirmResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/payment/txncore/s2s/query": {
      "get": {
        "tags": [
          "其他交易类型"
        ],
        "summary": "查询",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reqId",
            "in": "query",
            "description": "请求id",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteId",
            "in": "query",
            "description": "站点id",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionType",
            "in": "query",
            "description": "订单类型",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "sale",
                "auth",
                "refund",
                "capture",
                "void"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/safirstForQueryResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "payment/css/logisticsInfo/modify": {
      "post": {
        "tags": [
          "其他交易类型"
        ],
        "summary": "上传物流信息",
        "description": "上传物流单号，物流公司信息",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/modifyLogisticsInfoReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/baseResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/payment/txncore/cashier/session": {
      "post": {
        "tags": [
          "收银台"
        ],
        "summary": "创建支付会话",
        "description": "使用收银台或者SDK之前,预先创建支付会话",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createPaySession"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createPaySessionResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/wallet/deal/open/account/list": {
      "get": {
        "tags": [
          "钱包信息查询"
        ],
        "summary": "余额账户列表查询",
        "description": "可查询所有的余额账户。",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ownerType",
            "in": "query",
            "description": "账户拥有者类型",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": [
                "member",
                "matrix",
                "issuing"
              ]
            }
          },
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/respListAccountListResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源",
            "content": {}
          }
        }
      }
    },
    "/wallet/deal/open/account": {
      "get": {
        "tags": [
          "钱包信息查询"
        ],
        "summary": "实时余额查询",
        "description": "可查询客户钱包中不同账户类型及不同币种的实时余额。",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "币种[ISO4217]",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountType",
            "in": "query",
            "description": "账户类型: FT10001 可用余额账户; FT10002 冻结账户; FT10003 待结算账户; FT10004 保证金账户; 默认为 FT10001",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matrixAccount",
            "in": "query",
            "description": "matrix账户号",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountNo",
            "in": "query",
            "description": "账户编号，系统内部唯一。如传入此参数，则精确查询，忽略currency、accountType、matrixAccount传值",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/respListAccountResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源",
            "content": {}
          }
        }
      }
    },
    "/wallet/deal/open/account/history": {
      "get": {
        "tags": [
          "钱包信息查询"
        ],
        "summary": "钱包账单查询",
        "description": "可根据日期范围，查询客户自身钱包内的所有流水记录信息。",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createStartAt",
            "in": "query",
            "description": "起始动账日期",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createEndAt",
            "in": "query",
            "description": "截止动账日期",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "币种[ISO4217]",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountType",
            "in": "query",
            "description": "账户类型: FT10001 可用余额账户; FT10002 冻结账户; FT10003 待结算账户; FT10004 保证金账户; 默认为 FT10001",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matrixAccount",
            "in": "query",
            "description": "matrix账户号",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountNo",
            "in": "query",
            "description": "账户编号，系统内部唯一。如传入此参数，则精确查询，忽略currency、accountType、matrixAccount传值",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "txnType",
            "in": "query",
            "description": "账户交易类型，详情可看钱包附录账户交易类型",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "分页大小",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页/默认第一页",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pageRespAccountHistoryResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源",
            "content": {}
          }
        }
      }
    },

    "/wallet/config/open/V2/contact/insert": {
      "post": {
        "tags": [
          "收款人"
        ],
        "summary": "新增收款人",
        "operationId": "insertContactOpenUsingPOST",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenV2ContactInsertReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp«OpenV2ContactInsertResp»"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/wallet/config/open/V2/contact/edit": {
      "post": {
        "tags": [
          "收款人"
        ],
        "summary": "编辑收款人",
        "operationId": "editContactOpenV2UsingPOST",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenV2ContactEditReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp«OpenV2ContactEditResp»"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/wallet/config/open/V2/contact/list": {
      "get": {
        "tags": [
          "收款人"
        ],
        "summary": "收款人列表",
        "operationId": "getContactListOpenV2UsingGET",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountType",
            "in": "query",
            "description": "账户类型:个人-individual,企业-enterprise",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactName",
            "in": "query",
            "description": "收款人名称",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页/默认第一页",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "分页大小",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "requestNo",
            "in": "query",
            "description": "请求流水号，最长64个字符",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "收款人聚合状态 枚举值包含init（创建成功，风控审核中），approved（风控返回通过对应的状态），rejected（风控返回未通过对应的状态），modify(风控返回待修改的状态),incompleted（待完善）",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pageResp«OpenV2ContactDetailResp»"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "收款人文件上传": {
      "post": {
        "tags": ["收款人"],
        "summary": "文件上传",
        "description": "文件上传接口，businessKey值为Payout。参考 [**<u>(文件上传)</u>**](#tag/文件/paths/~1file~1apiUpload~1{businessKey}/post)"

      }
    },

    "/wallet/deal/open/trade/V2/order/list": {
      "get": {
        "tags": [
          "付款"
        ],
        "summary": "交易订单列表",
        "operationId": "getOrderListForOpenAPiV2UsingGET",
        "parameters": [
          {
            "name": "createdAtBegin",
            "in": "query",
            "description": "交易创建时间起始(UTC 0时间)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdAtEnd",
            "in": "query",
            "description": "交易创建时间结束(UTC 0时间)",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页/默认第一页",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "分页大小",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "payoutCurrencyList",
            "in": "query",
            "description": "付款币种,支持多个,最多10个",
            "required": false,
            "style": "pipeDelimited",
            "schema": {
              "maximum": 10,
              "minimum": 0,
              "maxLength": 10,
              "minLength": 0,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "payoutOrderNo",
            "in": "query",
            "description": "付款流水号-payouts ID，最长32位字符",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestNo",
            "in": "query",
            "description": "请求流水号，最长64个字符",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "交易状态：Processing-处理中，Success-交易成功，Fail-交易失败，Improved-待补充资料",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pageResp«OpenApiV2OrderListResp»"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/wallet/deal/open/trade/V2/payout": {
      "post": {
        "tags": [
          "付款"
        ],
        "summary": "创建交易",
        "operationId": "payoutUsingPOST_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenApiV2PayoutReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp«OpenApiV2PayoutResp»"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/wallet/deal/open/trade/V2/settlementAmount": {
      "get": {
        "tags": [
          "付款"
        ],
        "summary": "查询会员可结汇额度",
        "operationId": "querySettlementAmountForOpenApiV2UsingGET",
        "parameters": [
          {
            "name": "requestNo",
            "in": "query",
            "description": "请求流水号",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/resp«OpenApiV2SettlementAmountResp»"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },


    "/wallet/deal/open/recharge/info": {
      "get": {
        "tags": [
          "付款"
        ],
        "summary": "线下充值信息",
        "description": "线下充值信息",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "请求流水号",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rechargeCurrency",
            "in": "query",
            "description": "充值币种,仅支持USD,EUR,GBP,JPY,AUD,SGD,HKD,CNH,CAD",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/respRechargeInfoResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },

    "/wallet/deal/open/exchange/exchangeRate": {
      "get": {
        "tags": [
          "换汇"
        ],
        "summary": "实时汇率",
        "description": "实时汇率查询。",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "请求流水号",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currencyPair",
            "in": "query",
            "description": "货币对:卖出币种/买入币种,如USD/EUR,仅支持USD,EUR,GBP,JPY,AUD,SGD,HKD,CNH,CAD",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/respExchangeRateResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/wallet/deal/open/exchange/exchangeHistory": {
      "get": {
        "tags": [
          "换汇"
        ],
        "summary": "换汇历史",
        "description": "所有换汇订单信息及状态明细查询。",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "请求流水号",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "起始时间",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "截止时间",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页/默认第一页",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "分页大小",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tradeStatus",
            "in": "query",
            "description": "交易状态:Processing-处理中,Success-交易成功,Fail-交易失败",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currencyPair",
            "in": "query",
            "description": "货币对:卖出币种/买入币种,如USD/EUR,仅支持USD,EUR,GBP,JPY,AUD,SGD,HKD,CNH,CAD",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "businessNo",
            "in": "query",
            "description": "换汇订单号",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/respExchangeHistoryResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/wallet/deal/open/exchange/exchangeQuote": {
      "post": {
        "tags": [
          "换汇"
        ],
        "summary": "换汇询价",
        "description": "换汇交易发起时，需先根据此接口查询获取汇率报价，及报价合约ID。",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/exchangeQuoteReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/respExchangeQuoteResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/wallet/deal/open/exchange/exchangeSubmit": {
      "post": {
        "tags": [
          "换汇"
        ],
        "summary": "换汇下单",
        "description": "根据汇率查询接口获取汇率报价后，可根据报价合约ID创建换汇订单。",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/exchangeSubmitReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/respExchangeSubmitResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/wallet/deal/open/exchange/getDeliveryDate": {
      "get": {
        "tags": [
          "换汇"
        ],
        "summary": "交割假期查询",
        "description": "交割假期查询",
        "operationId": "getExchangeDeliveryDateUsingGET",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "buyCurrency",
            "in": "query",
            "description": "买入币种",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deliveryDate",
            "in": "query",
            "description": "此参数传“D0到30”的日期（均为自然日）:yyyy-MM-dd格式",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "请求流水号",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sellCurrency",
            "in": "query",
            "description": "卖出币种",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/respExchangeDeliveryDateResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/wallet/deal/open/exchange/getPostFundAmount": {
      "get": {
        "tags": [
          "换汇"
        ],
        "summary": "postfund额度查询",
        "description": "postfund额度查询",
        "operationId": "getExchangePostFundAmountUsingGET",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "请求流水号",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/respExchangePostFundAmountResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },

    "/order-declaration/open/queryPlatForm": {
      "get": {
        "tags": [
          "还原申报订单上传"
        ],
        "summary": "电商传单平台查询",
        "operationId": "queryPlatFormUsingGET",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reqNo",
            "in": "query",
            "description": "请求序列号 唯一",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradeType",
            "in": "query",
            "description": "贸易类型 01 货物贸易-电商, 02 服务贸易-物流",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/respPlatFormQueryResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    // "/order-declaration/open/uploadB2bOrderFile": {
    //   "post": {
    //     "tags": [
    //       "还原申报订单上传"
    //     ],
    //     "summary": "B2B结汇文件上传",
    //     "parameters": [
    //       {
    //         "name": "X-PD-TOKEN",
    //         "in": "header",
    //         "description": "访问令牌",
    //         "required": true,
    //         "style": "simple",
    //         "explode": false,
    //         "schema": {
    //           "type": "string"
    //         }
    //       },
    //     ],
    //     "operationId": "uploadB2bOrderFileUsingPOST",
    //     "requestBody": {
    //       "content": {
    //         "multipart/form-data": {
    //           "schema": {
    //             "$ref": "#/components/schemas/UploadB2bOrderFileReq"
    //           }
    //         }
    //       }
    //     },
    //     "responses": {
    //       "200": {
    //         "description": "OK",
    //         "content": {
    //           "*/*": {
    //             "schema": {
    //               "$ref": "#/components/schemas/UploadB2bOrderFileResp"
    //             }
    //           }
    //         }
    //       },
    //       "404": {
    //         "description": "找不到资源"
    //       }
    //     }
    //   }
    // },
    "/order-declaration/open/uploadOrder": {
      "post": {
        "tags": [
          "还原申报订单上传"
        ],
        "summary": "订单上传",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
        ],
        "operationId": "uploadOrderUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenOrderImportReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/respOpenOrderImportResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/collection/shop/open/addStore": {
      "post": {
        "tags": [
          "店铺管理"
        ],
        "summary": "申请店铺",
        "operationId": "addStoreUsingPOST_1",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/openAddStoreReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openAddStoreResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },

    "/collection/shop/open/applyShop": {
      "post": {
        "tags": [
          "店铺管理"
        ],
        "summary": "授权店铺",
        "operationId": "applyShopsUsingPOST_1",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenShopApplyReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/openApplyShopResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },

    "/collection/shop/open/getSites": {
      "get": {
        "tags": [
          "店铺管理"
        ],
        "summary": "获取站点枚举",
        "operationId": "getSitesUsingGET",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/labelResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/collection/shop/open/list": {
      "get": {
        "tags": [
          "店铺管理"
        ],
        "summary": "获取店铺信息",
        "operationId": "listUsingGET_1",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页/默认第一页",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "分页大小",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "shopId",
            "in": "query",
            "description": "店铺编号",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "site",
            "in": "query",
            "description": "所属平台",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pageRespShopResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/collection/collection-css/open/payinOrderHistory": {
      "get": {
        "tags": [
          "收款查询"
        ],
        "summary": "入账记录查询",
        "description": "入账记录查询",
        "description": "店铺相关收款业务入账结算信息及状态查询",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "请求流水号",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "结算起始时间（毫秒时间戳）",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "结算截止时间（毫秒时间戳）",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页/默认第一页",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "分页大小",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "createTimeBegin",
            "in": "query",
            "description": "交易创建时间起始（毫秒时间戳）",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createTimeEnd",
            "in": "query",
            "description": "交易创建时间结束（毫秒时间戳）",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "orderOrigin",
            "in": "query",
            "description": "入账来源",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": [
                "AliExpress_EU",
                "AliExpress_INT",
                "Amazon_AU",
                "Amazon_EU",
                "Amazon_IN",
                "Amazon_JP",
                "Amazon_NA",
                "Cdiscount",
                "Etsy",
                "Mercadolibre",
                "Self_Build",
                "eBay_EU",
                "eBay_US",
                "shopify_EU",
                "shopify_INT",
                "shoplazza"
              ]
            }
          },
          {
            "name": "clearingNo",
            "in": "query",
            "description": "结算单号",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "settleStatus",
            "in": "query",
            "description": "结算状态",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": [
                "fail",
                "processing",
                "rejected",
                "success",
                "waiting"
              ]
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "入账币种：USD,EUR,GBP,JPY,AUD,SGD,HKD,CNH,CAD",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receiveAccountNo",
            "in": "query",
            "description": "银行账户",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shopName",
            "in": "query",
            "description": "店铺名称",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shopRemark",
            "in": "query",
            "description": "店铺备注",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/respPayinOrderHistoryResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/ga/open/apply/cond/available": {
      "get": {
        "tags": [
          "全球账户"
        ],
        "summary": "查询可申请场景和币种",
        "description": "查询可申请GA的使用场景和币种。",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/respGaApplyCondResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/ga/open/apply/acc": {
      "post": {
        "tags": [
          "全球账户"
        ],
        "summary": "预申请全球账户",
        "description": "预申请全球账户（订单有效时间为1分钟，超过1分钟则订单失效）。账户分为免费申请和付费申请，如果是付费申请，费用列表中返回开户费价格，只需选择其中一个币种进行确认付费即可。",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/gaApplyAccReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gaApplyAccResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/ga/open/apply/acc/confirm": {
      "post": {
        "tags": [
          "全球账户"
        ],
        "summary": "确认申请全球账户",
        "description": "确认申请全球账户。",
        "parameters": [
          {
            "name": "X-PD-SIGN",
            "in": "header",
            "description": "加签字段",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/gaApplyAccConfirmReq"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gaApplyAccConfirmResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/ga/open/apply/acc/infos": {
      "get": {
        "tags": [
          "全球账户"
        ],
        "summary": "账户信息查询",
        "description": "查询全球账户信息。",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
          },
          {
            "name": "applicationId",
            "in": "query",
            "description": "平台申请单号",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string(64)"
            }
          },
          {
            "name": "globalAccountNo",
            "in": "query",
            "description": "全球账户",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string(64)"
            }
          },
          {
            "name": "useTypeCode",
            "in": "query",
            "description": "全球账户的用途，详情可看全球账户附录",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string(64)"
            }
          },
          {
            "name": "nickName",
            "in": "query",
            "description": "全球账户的昵称，当全球账户申请成功后可查询",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string(240)"
            }
          },
          {
            "name": "applyCurrency",
            "in": "query",
            "description": "申请币种[ISO4217](https://www.iso.org/standard/46121.html)",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string(3)"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "分页大小",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页/默认第一页",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gaApplyAccInfoResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/ga/open/settle/order": {
      "get": {
        "tags": [
          "全球账户"
        ],
        "summary": "入账流水查询",
        "description": "查询全球账户信息的入账流水。",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "settlementNo",
            "in": "query",
            "description": "结算单号，结算单号和结算时间至少一个不为空",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string(64)"
            }
          },
          {
            "name": "globalAccountNo",
            "in": "query",
            "description": "全球账户编号",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string(64)"
            }
          },
          {
            "name": "settlementTimeBegin",
            "in": "query",
            "description": "结算时间起始（毫秒时间戳），查询时间范围不能超过7天，结算单号和结算时间和交易创建时间至少一个不为空",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "timestamp"
            }
          },
          {
            "name": "settlementTimeEnd",
            "in": "query",
            "description": "结算时间结束（毫秒时间戳），查询时间范围不能超过7天，结算单号和结算时间和交易创建时间至少一个不为空",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "timestamp"
            }
          },
          {
            "name": "createTimeBegin",
            "in": "query",
            "description": "交易创建时间起始（毫秒时间戳），查询时间范围不能超过7天，结算单号和结算时间和交易创建时间至少一个不为空",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "timestamp"
            }
          },
          {
            "name": "createTimeEnd",
            "in": "query",
            "description": "交易创建时间结束（毫秒时间戳），查询时间范围不能超过7天，结算单号和结算时间和交易创建时间至少一个不为空",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "timestamp"
            }
          },
          {
            "name": "settlementStatus",
            "in": "query",
            "description": "结算状态",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "processing",
                "success",
                "rejected"
              ]
            },
          },
          {
            "name": "settlementCurrency",
            "in": "query",
            "description": "结算币种[ISO4217](https://www.iso.org/standard/46121.html)",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string(3)"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "分页大小",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页/默认第一页",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gaSettleOrderResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },
    "/vcc/open/v2/pagingVccTradeOrderNew": {
      "get": {
        "tags": [
          "交易明细"
        ],
        "summary": "交易明细",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页/默认第一页",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "分页大小",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idType",
            "in": "query",
            "description": "ID类型。当选择member ID则查询member向下的信息，当 选择matrix ID则查询matrix向下所有信息。您可不选，则查询包括member ID和matrix ID向下所有信息。",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": [
                "member",
                "matrix"
              ]
            }
          },
          {
            "name": "idValue",
            "in": "query",
            "description": "ID值。填写您选择的ID type对应的ID号，如不选可不填。",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createStartAt",
            "in": "query",
            "description": "起始创建时间",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createEndAt",
            "in": "query",
            "description": "截止创建时间",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "cardId",
            "in": "query",
            "description": "卡ID",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardType",
            "in": "query",
            "description": "卡类型。值: share 或 recharge 可为空。如为空，则查询结果将显示所有类型的卡。",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "商户请求流水号，每笔交易的唯一请求号，不可重复。",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionId",
            "in": "query",
            "description": "交易ID",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transactionType",
            "in": "query",
            "description": "您可对交易类型进行筛选，多个交易类型用逗号分隔。",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "您可对交易状态进行筛选，多个交易状态用逗号分隔。",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pageRespVccTradeOrderResp"
                }
              }
            }
          },
          "404": {
            "description": "找不到资源"
          }
        }
      }
    },

    "/vcc/open/v2/pagingIssuingHistory": {
      "get": {
        "tags": [
          "交易明细"
        ],
        "summary": "卡历史明细",
        "description": "查询虚拟卡开卡销卡的收费记录明细。",
        "parameters": [
          {
            "name": "X-PD-TOKEN",
            "in": "header",
            "description": "访问令牌",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "当前页/默认第一页",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "分页大小",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idType",
            "in": "query",
            "description": "ID类型。当选择member ID则查询member向下的信息，当 选择matrix ID则查询matrix向下所有信息。您可不选，则查询包括member ID和matrix ID向下所有信息。",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "enum": [
                "member",
                "matrix"
              ]
            }
          },
          {
            "name": "idValue",
            "in": "query",
[...]
